#accountsettings .form-field input {
	width: 25em;
}

#accountsettings .form-field label.error {
	color: #FB3A3A;
}

.bf-label input{
	margin-left: 10px;
	width: 25em;
}

.bf-label a {
	text-decoration: none;
}

#bf-left-container {
	border-right: 1px solid black;
	float:left;
	width:500px;
}

#bf-fieldset {
	margin-top: 30px;
}

#bf-fieldset legend {
	font-size: 20px;
	padding: 0;
	margin: 0;
}

#bf-fieldset form {
	padding-top: 20px;
	padding-left: 15px;
}

#bf-fieldset ul, #bf-fieldset li{
	border:0; 
	margin:0; 
	padding:0; 
	list-style:none;
}
#bf-fieldset li{
	clear:both;
	list-style:none;
	padding-bottom:10px;
}

#bf-fieldset input{
	width: 300px;
}

#bf-fieldset label{
	width:100px;
	float:left;
}

#bf-shortcodes {
	padding-left: 15px;
}

#bf-side{
	float:left;
	margin-left: 30px;
	margin-top: 20px;
}

#bf-side li {
	padding-bottom: 20px;
	font-size: 14px;
}
#bf-side ul span {
	font-size: 20px;
}

#bf-container {
	width:100%;
}

#shortcode-images li {
	display: inline;
	margin-left: 4px;
}

#shortcode-images img {
	padding-right: 20px;
}

#shortcode-images li img {
	padding-top: 20px;
}

.widgets_info {
	float: left;
}

.widgets_info img {
	padding-top: 15px
}


#widget_large {
	margin-right: 10px;
	width: 200px;
}

#mini_widget {
	margin-left: 10px;
	width: 150px;
}

#mini_widget a {
	padding-left: 15px;
}

#button_widget {
	margin-left: 20px;
	width: 100px;
}

#unlink_account{
	margin: 10px 0 10px;
}